---
- name: Run all playbooks
  hosts: targets
  tasks:
  - name: Install required packages
    apt:
      pkg:
        - curl
        - git

- import_playbook: ../nginx/nginx.yaml
- import_playbook: ../mysql/mysql.yaml
- import_playbook: ../php/php-fpm.yaml
- import_playbook: ../mongo/mongo.yaml
- import_playbook: ../beanstalkd/beanstalkd.yaml
- import_playbook: ../redis/redis.yaml
- import_playbook: ../php-redis/php-redis.yaml
