---
php_source_clone_dir: "~/php-src"
php_install_from_source: true
php_source_version: "php-7.4.8"
php_source_clone_depth: 1
php_source_install_path: "/usr/local"
php_source_make_command: "make"
php_source_configure_command: >
  ./configure --enable-fpm --with-openssl --with-mysqli --enable-mbstring
php_enable_php_fpm: true
php_memory_limit: "128M"
php_max_execution_time: "90"
php_upload_max_filesize: "256M"
php_packages:
  - php
  - php-cli
  - php-common
  - php-devel
  - php-gd
  - php-mbstring
  - php-pdo
  - php-pecl-apcu
  - php-xml
php_enable_webserver: true
php_webserver_daemon: "nginx"
